*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inside 
{
  height: auto;
  width: auto;
  border: 0.5px solid rgb(201, 200, 200);
  border-radius: 30px;
  
}

.img
{
  height: 100%;
  width: 100%;
  border-radius: 12px;
  transition: ease 0.3s;
}
.img:hover
{
  transform: scale(1.2);
}



